const HtmlWebpackPlugin = require('html-webpack-plugin');
var path = require('path');
var AssetsPlugin = require('assets-webpack-plugin');
var assetsPluginInstance = new AssetsPlugin({fullPath: false, removeFullPathAutoPrefix: true});
const UglifyJsPlugin = require('uglifyjs-webpack-plugin');

var WebpackObfuscator = require('webpack-obfuscator');

module.exports = {
  entry: './index.js',
  mode: 'development',
  output: {
    path: path.resolve(__dirname, './dist'),
    filename: "[name]-bundle-[hash].js",
  },

  target: 'web',
  devServer: {
    port: '5000',
    static: {
      directory: path.join(__dirname, 'public')
},
    open: true,
    hot: true,
    liveReload: true,
  },
  resolve: {
    extensions: ['.js', '.jsx', '.json'],
    alias: {
        'react-native$': 'react-native-web'
    }
  },
  module: {
    rules: [
      {
        test: /\.js$/,
        exclude: /node_modules\/(?!(react-native)\/).*/,
        use: {
          loader: 'babel-loader',
          options: {
           "presets": ["@babel/preset-env", ["@babel/preset-react", {
              "runtime": "automatic"
           }]],
          },
        },
      },
      {
        test: /\.css$/i,
        use: ["style-loader", "css-loader"],
      },
     {
          test: /\.(png|jpg|gif|svg)$/,
          use: [{
              loader: 'file-loader',
              options: {}
          }]
      }
    ],
  },

  plugins: [
    assetsPluginInstance, 
    new HtmlWebpackPlugin({
      template: path.join(__dirname, 'public', 'index.html')
    }),
    new WebpackObfuscator ({
        rotateStringArray: true
    }, ['excluded_bundle_name.js'])
  ],

  optimization: {
     minimizer: [
        new UglifyJsPlugin({
          test: /\.js(\?.*)?$/i,
        }),
      ],
  },
};